/* /medicines styling */

.tab-content {
  border: solid 1px var(--accentB);
  background-color: var(--shade);
}

.nav-item .nav-link {
  font-family: 'Lato';
  color: var(--accentB);
  font-size: 13px;
  border: 0;
}

.nav-item .nav-link:hover {
  background-color: var(--accentP) !important;
  color: #fff;
  font-size: 13px;
  border: 0;
}

.nav-item .nav-link.active {
  background-color: var(--accentB);
  color: #fff;
}

.medicines a {
  color: white;
  text-decoration: none;
}

.tab-content {
  min-height: 100px;
}

.medication-list li {
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  background-color: #fff;
  border: solid 1px var(--accentP);
  border-radius: 25px;
}

.MedName {
  font-family: 'Lato';
  font-size: 16px;
}

.MedFAIcon {
  color: var(--accentB);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  pointer-events: none;
}

.MedToggleB {
  display: inline-block !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  background: #fff !important;
}

.MedToggleB:hover {
  background-color: #fff !important;
}
