header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: var(--accentB);
}

.headerImgAdj {
  max-width: 40%;
  user-select: none;
}

/* / navbar styling */

.navAlignR {
  text-align: right;
}

.navContent {
  background-color: var(--darkest) !important;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  color: #fff;
}

.navContent a {
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
}

.navContent a:hover {
  color: #fff;
  font-family: 'Lato';
  cursor: pointer;
  text-decoration: underline var(--accentP) 2px !important;
  text-underline-offset: 7px;
}

.navContent ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.navContent li {
  padding-right: 50px;
  font-size: 14px;
}

.navNotButton {
  font-size: 14px;
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #fff;
  font-family: 'Lato';
}

.navNotButton:hover {
  background: none !important;
  color: #fff;
  font-family: 'Lato';
  cursor: pointer;
  text-decoration: underline var(--accentP) 2px !important;
  text-underline-offset: 7px;
}

.navMobile {
  background-color: var(--darkest) !important;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navIcons {
  color: #fff;
  word-spacing: 20px;
}

.navIcons a {
  color: #fff;
  cursor: pointer;
}

.navIcons a:hover {
  color: var(--accentP);
  cursor: pointer;
}

.navIcons button {
  background: none !important;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0 !important;
}

.navIcons button:hover {
  color: var(--accentP);
  cursor: pointer;
}
